<h3>Edit Product</h3>
<hr />
<div class='row justify-content-lg-center'>
  <div class="col col-lg-5">
    <%= render partial: 'form', locals: { product: @product, category_options: @category_options } %>
  </div>
</div>